@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
body{
  font-family: 'Oxygen', sans-serif;
}
.topbar {
  padding: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.topbar .trial__wrapper h3 span {
  font-size: 10px;
}
.topbar .trial__wrapper .trial .trial__extend a{
  font-size: 10px;
}
.trial__wrapper > div {
  padding-left: 1rem;
}
.orange{
  color: rgba(250, 120, 47, 1);
}
.leftbar_body .leftbar{
  height: calc(100vh - 85px);
  min-height: 520px;
  min-width: 220px;
  overflow: auto;
}
.leftbar_body .body{
  background-color: rgba(248, 248, 248, 1);
  overflow: auto;
  min-width: calc(100vw - 220px);
  height: calc(100vh - 85px);
  min-height: 520px;
}
.leftbar_body .body .item{
  max-width: 300px;
}